.typography {
  color: #454545;

  &.title {
    font-size: 16pt;
  }

  &.subtitle {
    font-size: 14pt;
  }

  &.label {
    font-size: 9pt;
  }
  &.copy {
    font-size: 12pt;
  }
  &.description {
    font-size: 9pt;
  }
}
