.form-input {
  display: block;

  & .field {
    font-size: 1rem;
    display: block;
    border: 1px solid #454545;
    border-radius: 2px;
    padding: 2px;

    &.error {
      background: pink;
    }
  }

  & .error-message {
    display: block;
    min-height: 1rem;
    width: 100%;
    text-align: right;
    font-size: 9pt;
    color: red;
  }
}

.button {
  font-size: 1rem;
  padding: 5px;
  background: #2892d7;
  color: white;
  border: none;
  cursor: pointer;
  &:disabled {
    background: #9197ae;
    color: #eeeeee;
  }
}

.icon-button {
  outline: none;
  color: #454545;
  background: none;
  border: none;
  cursor: pointer;
  &.red {
    color: red;
  }
}

.search-box {
  font-size: 1rem;
  display: block;
  border: 1px solid #454545;
  border-radius: 2px;
  padding: 2px;
}
